<div class="signin-body">
    <div class="container">
        <div class="row " >
            <div class="col-sm-12">
                <div class="well">
                    <div class="header-name">
                        <!--  -->
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input  required="required" class="form-control" placeholder="Username" maxlength="20" type="text" ng-model="data.username">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input  required="required" class="form-control" placeholder="Password" type="password" ng-model="data.password">
                        </div>
                    </div>
                    <div class="checkbox">
                        <label id="remember-me">
                            <input type="checkbox" value="1" id="UserRememberMe">
                        </label>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-primary btn-lg btn-block" ng-click="login()" type="submit" value="登录">
                    </div>
                    <div class="end-title">
                        <!--  -->
                    </div>
                </div><!--/.login-->
            </div><!--/.span12-->
        </div><!--/.row-fluid-->
    </div>
</div>
