<div class="input-group">
    <input type="text"
           class="form-control"
           datepicker-popup="yyyy/MM/dd"
           ng-model="setModel"
           is-open="status.beginOpen"
           datepicker-options="dateOptions"
           date-disabled="disabled(date, mode)"
           close-text="Close"/>
    <span class="input-group-btn">
        <button type="button"
                class="btn btn-default"
                ng-click="openStartDatePicker($event)">
            <i class="glyphicon glyphicon-calendar">
            </i>
        </button>
    </span>
</div>
